html,body,div,ol,ul,li,h1,h2,h3,h4,h5,h6,img,span,p,a,i,form,label,legend,aside,article,footer,header,nav{
    margin:0;padding:0;border:0;
    font-weight: normal;
}
html,body{
    width:100%;
    background:#fff;
}
ul,li{
    list-style: none;
}
img{
    display: inline-block;
}
a{
    text-decoration: none;
    display: inline-block;
}
.icon{
    font-size:18px;
    color:#533831;
}
i,em{
    font-style: normal;
}
/*------------------------------------------------------banner>*/
article{
    width:100%;
    margin:90px 0 90px 0;
}
.list_banner{
    height:410px;
}
.art_banner img {
    width:100%;
}
/*-----------------------------------------------------list*/
section{
    /*width:100%;*/
}
._section{
    width:1200px;
    margin:auto;
    padding:30px 0;
}
.sec_list{
    width:200px;
    padding:6px;
    margin: 0 auto 20px;
}

.sec_list ul{
    margin:auto;
    overflow: hidden;
}
.sec_list ul li{
    float:left;
    width: 48px;
    height: 26px;
    border: 1px solid #ccc;
    line-height:26px;
    color:rgb(77,63,50);
    text-align: center;
}
.sec_list>ul li>a{
    float: left;
    font-size:12px;
    margin-left: 8px;
}
.sec_list ul li i{
    display:inline-block;
    height: 9px !important;
    width: 7px !important;
    background:url(../img/list_jingling.png) no-repeat 0 -317px;
}
.sec_list ul li:hover{
    border:1px solid rgb(77,63,50);
}
._img ul{
    overflow: hidden;
}
._img ul li{
    float:left;
    width:24.8%;
    border:1px solid #ccc;
    border-top:none;
    border-left:none;
    padding:50px 0 30px;
    text-align: center;
}
._img ._img_pad{
    padding:1% 10%;
}
._img_pad>a{
    width:80%;
    margin:15px auto 0;
    color: #666;
    font-size:14px;
}
._img_pad p{
    font-size: 14px;
    color: #000;
    padding:5px 0 20px;
    text-align: center;
}
._img_pad em{
    outline: none;
}
.Cart{
    overflow: hidden;
    margin: 5px auto 0;
    width: 40%;
}
.Cart a{
    width:40px;
    height:39px;
    background:#ccc;
    text-align: center;
    line-height:39px;
    border-radius:50%;
}
.Cart a:hover{
    background:rgb(77,63,50);
}
.Cart a i{
    font-size: 18px;
    color: #fff;

}
._cart{
    float:left;
}
._collection{
    float:right;
}
.page{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin: 0 auto;
}
/*------------------------------------------------芳香主题*/
/*aside{
    width:1100px;
    margin:auto;
}*/
._aside{
    margin:auto;
    background: #f7f7f7;
    padding:60px 0;
}
._aside>h2{
    width:100%;
    color: #5c5442;
    font-size: 24px;
    text-align: center;
    line-height:36px;
    margin-bottom:30px;
}
._aside>ul{
    margin:0 auto;
    max-width: 1200px;
    width:90%;
    overflow: hidden;
 }
._aside>ul li{
    width:30%;
    float: left;
    margin: 0 1.5%;
    position: relative;
    overflow: hidden;
}
._aside>ul li a{
    width:100%;
}
._aside>ul li img{
    width:100%;
}
._aside div{
    width:100%;
    height:100%;
    background: rgba(51,41,32,0.6);
    position: absolute;
    left:0;top:78%;
    color:#fff;
    padding:10px;
    box-sizing: border-box;
}
._aside div>h5{
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
}
._aside div>span{
    display: block;
    font-size: 14px;
    padding: 10px 0;
    text-align: left;
}
._aside div:hover{
    transform: translateY(-78%);
    transition: transform 0.5s;
}
._aside div a{
    text-align: center;
    font-size:14px;
    color:#fff;
}
.orange span{
    text-align: center !important;
}


footer{
    z-index: 1;
}